@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background:  radial-gradient(
        circle at 50% 10%,
        hsl(214,47%,23%),
        hsl(237,49%,15%)
    );
    min-height: 100vh;
    color: ivory;
}

.container{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

button:focus{
    outline: none;
}

header{
    border: 3px solid hsl(217, 16%, 45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 1px;
}

header h1 {
    margin: 12px 2px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 0.8;
    font-size: 50px;
    color: ivory;
}

header h4{
    color: hsl(229, 64%, 46%);
    margin: 0px;
    letter-spacing: 5px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.score-container{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 40px;
    text-align: center;
}

.score-container p{
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    margin: 0;
    font-weight: 600;
}

main{
    width: 450px;
    height: 350px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}

main::before{
    background-image: url('../img/bg-triangle.svg');
    content: '';
    height: 70%;
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.btn-circle{
    margin: 25px 40px;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 80%;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-top: 30px;
}

button:focus{
    outline: none;
}

.btn-circle:active{
    transform: scale(0.9);
}



.btn-circle .wrapper{
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-paper{
    background: linear-gradient(to bottom,hsl(230,89%,62%), hsl(230,89%,65%)
    );
}

.btn-scissors{
    background: linear-gradient(to bottom,hsl(39,89%,49%), hsl(40,84%,53%)
    );
}

.btn-rock{
    background: linear-gradient(to bottom,hsl(349,71%,52%), hsl(349,70%,56%)
    );
}

.btn-rules{
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 2px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

.btn{
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ffffff;
    color: hsl(229, 25%, 31%);
    font-family: inherit;
    font-size: 20px;
    padding: 10px 25px;
    letter-spacing: 2px;
    color: black;
    font-weight: 600;
}

.selection {
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 800px;
    max-width: 100%;
    margin: 40px auto;
}

.selection .btn-circle{
    margin: 50px;
    transform: scale(1.25);
}

.result h1{
    font-weight: 600;
    color: chartreuse;
}

.rules-modal{
    background-color: #f0f0f0;
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.rules-modal button{
    border: none;
    background-color: transparent;
    margin-top: 100px;
    transform: scale(1.5) ;
    cursor: pointer;
}

@media only screen and (max-width: 558px){
    .selection{
        width: 400px;
    }

    .container{
        width: 400px;
        margin: 10px auto;
    }

    main{
        width: 350px;
        height: 250px;
        margin-top: 40px;
        margin-left: 20px;
    }
    main::before{
        height: 200px;
        width: 200px;
    }

    header{
        margin: 10px auto;
        width: 320px;
        margin-left: 15px;
    }

    header h1{
        font-size: 40px;
    }

    header h4{
        font-size: 25px;
        padding: 5px;
        margin-top: 3px;
        letter-spacing: 0;
    }

    .score-container{
        width: 80px;
        height: 90px;
        margin: 0;
        padding: 0;
    }
    .score-container p{
        font-size: 25px;
        text-align: center;
    }
    .btn-circle{
        width: 100px;
        height: 100px;
    }

    .btn-circle .wrapper{
        width: 80px;
        height: 80px;
    }

    .btn-rock{
        margin-top: 50px;
        margin-left: 10px;
    }

    .btn-paper{
        margin-top: 45px;
        margin-left: 10px;
    }

    .btn-scissors{
        margin-top: 45px;
        margin-left: 55px;
    }

    .selection {
        width: 300px;
        margin: 10px 50px;
        height: 300px;
        justify-content: center;
    }

    .selection .btn-circle{
        margin: 50px 20px;
        width: 90px;
        height: 90px;
    }


    .selection h2{
        font-size: 25px;
        display: inline-block;
    }

    .selection .btn-circle .wrapper{
        width: 70px;
        height: 70px;
    }

    .selection #user-select{
        margin-top: 70px;
        margin-right: 40px;
    }

    .selection #computer-select{
        margin-top: 42px;
        margin-left: 40px;
    }

    .result .btn{
        padding: 5px;
        width: 100px;
    }

    .rules-modal {
        width: 100%;
        height: 100%;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 400px){
    .selection{
        width : 200px;
        height: 200px;
        margin-top: 50px;
    }

    .selection .btn-circle{
        width: 60px;
        height: 60px;
    }

    .selection .btn-circle .wrapper{
        width: 45px;
        height: 45px;
    }

    .selection #user-select{
        margin-top: 60px;
    }

    .selection #user-select img{
        width: 30px;
        height: 30px;
    }

    .selection #computer-select{
        margin-top: 60px
    }

    .selection #computer-select img{
        width: 35px;
        height: 35px;
    }

    .result h1{
        font-size: 25px;
        margin-bottom: 40px;
    }

}

